{% extends 'base.html' %}
{% block magence %}
     
			                <!-- cta start -->
                                  <section class="cta-section" style="background-color: #c4ced8;">
                                        <div class="container text-center">
                                            <!-- Modal -->
                                            <div class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="quoteModalLabel" aria-hidden="true"></div>
                                              <div class="modal-dialog modal-lg">
                                                <div class="modal-content" style="background-color: #114e7a">
                                                  <div class="modal-header" >
                                                    <h3 class="modal-title" id="quoteModalLabel" style="color: #ffffff;">Modifier Agence</h3>
                                                  </div>
                                                  <div class="modal-body" style="background-color: #ffffff;">
                                                    <form id="contactForm" action="" method="POST" style="margin-left:25%;">
                                                        {% csrf_token %}
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <div class="form-group">
                                                                    <label for="name">ID</label>
                                                                    <input id="id" name="agenceid" type="text" class="form-control"  required="" value="{{agences.agenceid}}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <div class="form-group">
                                                                    <label for="name">NOM</label>
                                                                    <input id="name" name="nom" type="text" class="form-control" value="{{agences.nom}}" required="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                              <div class="form-group">
                                                                <label for="name">ADRESSE</label>
                                                                <input id="adr" name="adress" type="text" class="form-control" value="{{agences.adress}}" required="">
                                                              </div>
                                                            </div>
                                                        </div>
                            
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                              <div class="form-group">
                                                                <label for="name">nombre d'agent dans la salle d'attente</label>
                                                                <input id="nbra" name="nbragent" type="number" class="form-control" value="{{agences.nbragent}}">
                                                              </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                        </div>   
                                                        
                                                        <div style=" width:65%; text-align:center; ">
                                                        <button type="submit" class="btn btn-primary" style=" background-color: #0b8c8d; display:inline-block;">Modifier</button>
                                                        <button  class="btn btn-primary" style="background-color: #e70a0a; display:inline-block;"> <a href="{% url 'agence'%}">Annuler</a></button>
                                                        </div>
                                                    
                                                    </form>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                        </div><!-- /.container -->
                                    </section><!-- /.cta-section -->
                                    <!-- cta end -->
{% endblock magence %}
      
